@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F8F8FF;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-custom {
  background-color: #2993F3;
  padding-right: 25px;
  padding-left: 25px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-toggler-icon {
  color: #ffffff !important;
}

.dropdown-custom {
  background-color: #2993F3;
}

.dropdown a:hover {
  color: #2D7FEB;
}

/* Modal */
.modal-header {
  background-color: #2993F3;
  color: white;
}

.help-block {
  color: red;
}



#carouselCustom {
  width: 100%;
  height: 660px;
  max-height: 1000px;
  overflow: hidden;
}

.carousel-caption {
  bottom: 235px;
}

.carousel-caption h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.carousel-caption p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.carousel-item  {
  max-height: 1000px;
}

.carousel-indicators {
  bottom: 190px;
}

.carousel-indicators li {
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

#eventSection {
  background-color: #EFEFEF;
  max-height: 100%;
  margin-top: 10px;
}

.heading h4 {
  color: #2199FB;
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.card {
  margin: 10px;
}

.card-body h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.card-body p {
  font-family: 'Lato', sans-serif;
}

.more-events {
  padding-top: 20px;
  padding-bottom: 15px;
}

#aboutSection {
  background-color: #EFEFEF;
  margin-top: 10px;
}

.about-img {
  width: 100%;
  height: 100%;
  display: block;
}

.details {
  padding: 50px;
  padding-top: 70px;
}

.details h5 {
  color: #3e9af6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.details p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.title {
  color: #3e9af6;
}

.footer-copyright a {
  text-decoration: none!important;
  color: black;
}

/*Admin Homepage & Student Homepage*/
#postersCarousel {
  padding-top: 40px;
  padding-bottom: 50px;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
  bottom: -40px;

}

.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #707070;
}

#announcementSection {
  background-color:  #EFEFEF;
  height: 700px;
}


/*Log in Page */
#loginSection {
  padding-top: 100px;
}

.wrapper {
  width: 430px;
  padding: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 7px 12px -6px rgba(0,0,0,0.37);
  -moz-box-shadow: 5px 7px 12px -6px rgba(0,0,0,0.37);
  box-shadow: 5px 7px 12px -6px rgba(0,0,0,0.37);
}

/*Sign Up Page*/
#registerWrapper {
  width: 430px;
  margin-top: 90px;
  max-height: 100%
}

/*Profile Page*/
#profileSection {
  padding-top: 150px;
}

/*Create Event Page*/
#eventFormWrapper {
  width: 500px;
  margin-top: 100px;
  font-size: 14px;
}

/* My Events Page */
.eventsHeading {
  margin-top: 100px;
  font-weight: 900px;
  font-family: 'Open Sans', sans-serif;
}

#myEvents {
  margin-top: 25px;
  max-height: 100%;
  height: 400px;
  font-family: 'Lato', sans-serif;
}

.tab-content {
  background-color: #ffffff;
  max-height: 100%;
  height: 600px;
}

.events-tab {
  background-color: #2993F3;
  border: none !important;
  margin-right: 5px;
  -webkit-box-shadow: 4px -2px 8px -2px rgba(0,0,0,0.14);
  -moz-box-shadow: 4px -2px 8px -2px rgba(0,0,0,0.14);
  box-shadow: 4px -2px 8px -2px rgba(0,0,0,0.14);
}

#nav-tab>a {
  color: #ffffff !important;
}

#nav-tab>a.active  {
  color: #2d3436 !important;
}

#nav-tab>a.active:hover {
  background-color: #ffffff !important;
}

#nav-tab>a:hover {
  background-color: #2279C7 !important;
}

#myEvents .table thead {
  background-color: #2993F3;
}

#myEvents .table {
  background-color: #ffffff;
  -webkit-box-shadow: 5px 7px 12px -6px rgba(0,0,0,0.37);
  -moz-box-shadow: 5px 7px 12px -6px rgba(0,0,0,0.37);
  box-shadow: 5px 7px 12px -6px rgba(0,0,0,0.37);
  font-size: 14px;
}

#eventsTable {
  padding-top: 20px;
}
